# IDE project folder
/.idea

# Dependencies
/vendor
/node_modules

# Built assets
/public/assets/dest

# Local environment variables
/.env

# Dependency caches
/twigCache

# PHPUnit cache and results
/.phpunit.cache
/test-results
/coverage
