<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="title" content="Toohga URL shortener">
    <meta name="description"
          content="Create super-short and 14-days-valid links out of long URLs with Toohga now. With our custom algorithm, URL suffixes are usually not longer than one or two characters.">
    <meta name="keywords" content="url,shortener,link,long,short,easy,fast,14,days">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.tooh.ga">
    <meta property="og:title" content="Toohga URL shortener">
    <meta property="og:description"
          content="Create super-short and 14-days-valid links out of long URLs with Toohga now. With our custom algorithm, URL suffixes are usually not longer than one or two characters.">
    <meta property="og:image" content="https://www.tooh.ga/image.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.tooh.ga">
    <meta property="twitter:title" content="Toohga URL shortener">
    <meta property="twitter:description"
          content="Create super-short and 14-days-valid links out of long URLs with Toohga now. With our custom algorithm, URL suffixes are usually not longer than one or two characters.">
    <meta property="twitter:image" content="https://www.tooh.ga/image.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link href="/assets/dest/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dest/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dest/css/index.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <title>Toohga URL shortener</title>
</head>
<body>
<div class="full-box">
    <div class="little-dark-background">
        <div class="main-content text-center">
            <h1>Toohga</h1>
            <h2>The smart URL shortener</h2>
            <br>
            <form id="entryForm">
                <div class="input-group input-group-lg">
                    <input type="url" class="form-control form-control-custom text-center" id="url"
                           placeholder="Paste the long URL here ...">
                    {% if authReq %}
                        <input type="password" class="form-control form-control-custom form-control-pin text-center"
                               id="pin" placeholder="PIN">
                    {% endif %}
                    <button class="btn btn-custom">
                        <span class="oi oi-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
            <br>
            <p class="footer-line">
                open source on <a target="_blank" rel="noopener noreferrer" href="https://github.com/jarne/Toohga">github</a>
                | background images on <a target="_blank" rel="noopener noreferrer"
                                          href="https://unsplash.com">unsplash</a>
                {% if contactMail %}
                    | contact: <a href="mailto:{{ contactMail }}">{{ contactMail }}</a>
                {% endif %}
                {% if hasPrivacyUrl %}
                    | <a href="/privacy">privacy policy</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/dest/js/index.min.js"></script>
{% if analyticsScript %}
    {{ analyticsScript|raw }}
{% endif %}
</body>
</html>
