<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <title>Toohga</title>
</head>
<body>
<div class="full-box">
    <div class="little-dark-background">
        <div class="main-content text-center">
            <h1>Toohga</h1>
            <h2>A simple URL shortener</h2>
            <br>
            <div class="input-group input-group-lg">
                <input type="url" class="form-control form-control-custom text-center" id="url" placeholder="Paste the long URL here ...">
                <span class="input-group-btn">
                    <button class="btn btn-custom" id="submit" type="button"><i class="glyphicon glyphicon-triangle-right"></i></button>
                </span>
            </div>
            <br>
            <p>Made by <a target="_blank" href="https://github.com/jarne">jarne</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="../vendor/components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>