<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/assets/dest/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dest/css/privacy.min.css" rel="stylesheet">
    <title>Toohga | privacy policy</title>
</head>
<body>
<div class="container">
    <h1>privacy policy</h1>
    <p class="text-muted">last changed on December 16th, 2018</p>
    <p>We store various data provided by your browser (your IP address, used browser and operating system, referrer URL (from where you came), date and time of your visit, etc.) in our server logs. This is required in order to ensure the security and prevent abuse of our services.</p>
    <p>By using our service to create short URLs, all provided information (entered URL) is getting processed and stored by one of our servers operating in Nürnberg, Germany. Due to security reasons and to prevent abuse of our services, we also store your IP address and the number of requests you did in the last time. Short URLs (and the IP address of the creator) are getting deleted after 14 days, but the short URL needs to be opened after 14 days in order to trigger the deletion.</p>
    <p>Every request between you and our servers is getting processed by Cloudflare. They are operating various data centers in- and outside the European Union and caching and keeping records of the transmitted data. You can find more information about this in <a target="_blank" href="https://www.cloudflare.com/security-policy/">Cloudflare's privacy policy</a>.</p>
</div>
</body>
</html>
